@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    overflow-x: clip;
    scroll-behavior: smooth !important;
}    

.bg-radial{
    background-image: url("/Client/client-4.svg");
    background-position: 0 -250px;
    background-repeat: no-repeat;
    background-size: cover;
}